.container {
  /* background-color: red; */
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [column-start-1]1fr[column-end-1 column-start-2] 1fr[column-end-2 column-start-3] 1fr[column-end-3 column-start-4] 100px[column-end-4];
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: repeat(8, 1fr); */
  gap: 1rem;
  /* padding: 1rem; */
}

/* .item {
  padding: 12px;
  background-color: red;
} */

.container > * {
  padding: 12px;
  background-color: red;
}

.item-1 {
  /* background-color: blue; */
  grid-column: column-start-1/column-end-4;
}

.item-2 {
  /* background-color: green; */
  grid-row: 2/4;
}
.item-3 {
  /* background-color: yellow; */
  grid-row: 2/4;
}
.item-4 {
  /* background-color: yellowgreen; */
  grid-row: 2/4;
}
.item-5 {
  /* background-color: aqua; */
  grid-row: 2/8;
}
.item-6 {
  /* background-color: aquamarine; */
  /* grid-row: 1/4; */
  grid-column: column-start-1/column-start-4;
  grid-row: 4/8;
  /* display: flex; */
  /* align-items: flex-end; */
}

.item-7 {
  /* background-color: azure; */
  grid-column: column-start-1/column-end-4;
  text-align: center;
}
